<% if current_tutor.admin? %>
  <h2 class="ui center aligned icon header">
    <i class="orange building icon"></i>
     All Classrooms
  </h2>

  <table class="ui celled table">
    <thead>
      <tr><th>Standard</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Actions</th>
    </tr></thead>
      <% @classrooms.each do |classroom| %>
    <tbody>
      <tr>
        <td data-label="Standard"><%= link_to classroom.standard.name, standard_path("#{classroom.standard.id}") %></td>
        <td data-label="Subject"><%= classroom.subject.name %></td>
        <td data-label="Teacher"><%= classroom.tutor.name %></td>
        <td data-label="Actions"><%= link_to "Show", classroom_path(classroom), class: "ui mini primary button" %></td>
      </tr>
    </tbody>
      <% end %>
  </table>
  <%= link_to "Add a new classroom", new_classroom_path, class: "ui green button" %>
<% else %>
  <h2 class="ui center aligned icon header">
    <i class="orange building icon"></i>
     Your Classrooms
  </h2>

  <table class="ui celled table">
    <thead>
      <tr><th>Standard</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Actions</th>
    </tr></thead>
      <% @classrooms.where(tutor_id: current_tutor.id).each do |classroom| %>
      <tbody>
        <tr>
          <td data-label="Standard"><%= link_to classroom.standard.name, standard_path("#{classroom.standard.id}") %></td>
          <td data-label="Subject"><%= classroom.subject.name %></td>
          <td data-label="Teacher"><%= classroom.tutor.name %></td>
          <td data-label="Actions"><%= link_to "Show", classroom_path(classroom), class: "ui mini primary button" %></td>
        </tr>
      </tbody>
      <% end %>
  </table>
<% end %>
