<h2 class="ui center aligned brown icon header">
  <i class="orange building icon"></i>
  <%= @classroom.tutor.name %> your <u><%= @classroom.standard.name %></u>
  class with <u><%= @classroom.subject.name %></u> subject
</h2>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Class</th>
      <th>No. of Students</th>
      <th>Lesson</th>
      <th>Activity</th>
      <th>Exam</th>
      <th>Live Session</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @classroom.standard.name %></td>
      <td class="warning"><%= @classroom.standard.students.count %></td>
      <td class="positive"><i class="icon checkmark"></i>
        <%= link_to "New Lesson", new_lesson_path %></td>
      <td class="positive"><i class="icon checkmark"></i>
        <%= link_to "New Activity", new_activity_path %></td>
      <td class="positive"><i class="icon checkmark"></i>
        <%= link_to "New Exam", new_exam_path %></td>
        <td class="positive"><i class="icon checkmark"></i>
          <%= link_to "New Live Session", new_live_session_path %></td>
    </tr>
  </tbody>
</table>

<% session[:classroom_id] = @classroom.id %>
