<h2 class="ui center aligned brown icon header">
  <i class="orange building icon"></i>
  <%= @classroom.tutor.name %> your <u><%= @classroom.standard.name %></u>
  class with <u><%= @classroom.subject.name %></u> subject
</h2>

<%= @classroom.standard.name %>
<%= @classroom.standard.students.count %>
<%= link_to "New Lesson for this classroom", new_lesson_path %>
<%= link_to "New Activity for this classroom", new_activity_path %>
<%= link_to "New Exam for this classroom", new_exam_path %>
<% session[:classroom_id] = @classroom.id %>
