<% if student_logged_in? %>
  <h2 class="ui center aligned teal icon header">
    <i class="orange desktop icon"></i>
    <%= @student.name %>&apos;s Dashboard
    <% if @student_standards.any? %>
      <div>
        Class: <%= @student_standard.name %>
      </div>
      <div>
        Subjects in this class:
      </div>
      <div class="ui menu">
        <% @student_standard.subjects.each do |subject| %>
         <div class="item">
           <%= subject.name %>
         </div>
        <% end %>
      </div>
    </h2>

    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="first">Lessons</a>
      <a class="item" data-tab="second">Activities</a>
      <a class="item" data-tab="third">Exams</a>
      <a class="item" data-tab="fourth">Live Sessions</a>
      <a class="item" data-tab="fifth">Interactions</a>
      <a class="item" data-tab="sixth">Replies</a>
      <a class="item" data-tab="seventh">Answers</a>
      <a class="item" data-tab="eighth">Profile</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
      <% @student_standard.classrooms.each do |student_classroom| %>
        <% student_classroom.lessons.each do |lesson| %>
          <ul class="ui large celled list">
            <li><%= link_to lesson.topic, lesson_path(lesson) %>
                (<%= lesson.classroom.subject.name %>) <small><%= lesson.created_at.strftime('%a, %d %b %Y') %></small></li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <% @student_standard.classrooms.each do |student_classroom| %>
        <% student_classroom.activities.each do |activity| %>
          <ul class="ui large celled list">
            <li><%= link_to activity.topic, activity_path(activity) %>
                (<%= activity.classroom.subject.name %>) <small><%= activity.created_at.strftime('%a, %d %b %Y') %></small></li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      <%= link_to "Click here to see all your due exams", exams_path %>
    </div>

    <div class="ui bottom attached tab segment" data-tab="fourth">
      <% @student_standard.classrooms.each do |student_classroom| %>
        <% student_classroom.live_sessions.each do |live_session| %>
          <ul class="ui large celled list">
            <% if live_session.start_date <= DateTime.current && live_session.end_date >= DateTime.current %>
              <li><%= link_to "Show Live Session Room", live_session_path(live_session) %>
                  (<%= live_session.classroom.subject.name %>) <small><%= live_session.start_date.strftime('%a, %d %b %Y') %>, <%= live_session.start_date.localtime.strftime("%I:%M %p") %></small>
                  <small><%= live_session.end_date.strftime('%a, %d %b %Y') %>, <%= live_session.end_date.localtime.strftime("%I:%M %p") %></small></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>

    <div class="ui bottom attached tab segment" data-tab="fifth">
      <% @student_interactions.each do |interaction| %>
        <ul class="ui large celled list">
          <li><%= link_to interaction.topic, interaction_path(interaction) %>
          <small>Lesson Topic: <%= interaction.lesson.topic %>
          <%= interaction.created_at.strftime('%a, %d %b %Y') %></small></li>
        </ul>
      <% end %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="sixth">
      <% @student_replies.each do |reply| %>
        <ul class="ui large celled list">
          <li><%= link_to reply.topic, reply_path(reply) %>
          <small>Activity Topic: <%= reply.activity.topic %>
          <%= reply.created_at.strftime('%a, %d %b %Y') %></small></li>
        </ul>
      <% end %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="seventh">
      <% @student.answers.each do |answer| %>
        <ul class="ui large celled list">
          <li><%= link_to answer.exam.topic, answer_path(answer) %>
          <small><%= answer.created_at.strftime('%a, %d %b %Y') %>,
            <%= answer.created_at.localtime.strftime("%I:%M %p") %></small></li>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div class="ui bottom attached tab segment" data-tab="eighth">
    <div class="ui large bulleted list">
      <div class="item">
        Name: <strong><%= @student.name %></strong>
      </div>
      <div class="item">
        Contact Number: <strong><%= @student.contact %></strong>
      </div>
      <div class="item">
        Address: <strong><%= @student.address %></strong>
      </div>
      <div class="item">
        Gender: <strong><%= @student.gender %></strong>
      </div>
      <div class="item">
        Father's Name: <strong><%= @student.father_name %></strong>
      </div>
      <div class="item">
        Mother's Name: <strong><%= @student.mother_name %></strong>
      </div>
      <div class="item">
        Guardian: <strong><%= @student.guardian_name %></strong>
      </div>
      <div class="item">
        <%= link_to edit_student_path(@student) do %>
          <i class="orange edit icon"></i> Click to edit your profile
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if tutor_logged_in? %>
  <h2 class="ui center aligned teal icon header">
    <i class="orange circle user icon"></i>
    <%= @student.name %>
    <% if @student_standards.any? %>
    <div>
      Class: <%= @student_standard.name %>
    </div>
    <div>
      Subjects taught in this class:
    </div>
    <div class="ui menu">
      <% @student_standard.subjects.each do |subject| %>
        <div class="item">
          <%= subject.name %>
        </div>
      <% end %>
    </div>
  </h2>
  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Interactions for Lessons</a>
    <a class="item" data-tab="second">Replies for Activities</a>
    <a class="item" data-tab="third">Answers for Exams</a>
  </div>
  <% if current_tutor.admin? %>
    <div class="ui bottom attached active tab segment" data-tab="first">
      <% @student_interactions.each do |interaction| %>
        <ul class="ui large celled list">
          <li><%= link_to interaction.topic, interaction_path(interaction) %>
              (<%= interaction.lesson.topic %> <%= interaction.lesson.classroom.subject.name %>)
              <small><%= interaction.created_at.strftime('%a, %d %b %Y') %></small></li>
        </ul>
      <% end %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <% @student_replies.each do |reply| %>
        <ul class="ui large celled list">
          <li><%= link_to reply.topic, reply_path(reply) %>
              (<%= reply.activity.classroom.subject.name %>) <small><%= reply.created_at.strftime('%a, %d %b %Y') %></small></li>
        </ul>
      <% end %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      <ul class="ui large celled list">
        <% @student.answers.each do |answer| %>
          <li><%= link_to answer.exam.topic, answer_path(answer) %>
            (<%= answer.exam.classroom.subject.name %>) <small><%= answer.created_at.strftime('%a, %d %b %Y') %></small></li>
        <% end %>
      </ul>
    </div>
    <% else %>
      <div class="ui bottom attached active tab segment" data-tab="first">
        <ul class="ui large celled list">
          <% Interaction.select { |interaction| interaction.lesson.classroom.tutor.id == current_tutor.id }.each do |interaction| %>
          <li><%= link_to interaction.topic, interaction_path(interaction) %>
              (<%= interaction.lesson.topic %> <%= interaction.lesson.classroom.subject.name %>)
              <small><%= interaction.created_at.strftime('%a, %d %b %Y') %></small></li>
          <% end %>
        </ul>
      </div>
      <div class="ui bottom attached tab segment" data-tab="second">
        <ul class="ui large celled list">
          <% Reply.select { |reply| reply.activity.classroom.tutor.id == current_tutor.id }.each do |reply| %>
            <li><%= link_to reply.topic, reply_path(reply) %>
              (<%= reply.activity.topic %> <%= reply.activity.classroom.subject.name %>)
              <small><%= reply.created_at.strftime('%a, %d %b %Y') %></small></li>
          <% end %>
        </ul>
      </div>
      <div class="ui bottom attached tab segment" data-tab="third">
        <ul class="ui large celled list">
          <% Answer.select { |answer| answer.exam.classroom.tutor.id == current_tutor.id }.each do |answer| %>
            <li><%= link_to answer.exam.topic, answer_path(answer) %>
              (<%= answer.exam.classroom.subject.name %>)
              <small><%= answer.created_at.strftime('%a, %d %b %Y') %>,
                     <%= answer.created_at.localtime.strftime("%I:%M %p") %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
