<% if student_logged_in? %>
  <h2 class="ui center aligned teal icon header">
    <i class="orange desktop icon"></i>
    <%= @student.name %>&apos;s Dashboard
    <div>
      Class: <%= @student_standard.name %>
    </div>
    <div>
      Your subjects in this class:
    </div>
    <div class="ui menu">
      <% @student_standard.subjects.each do |subject| %>
       <div class="item">
         <%= subject.name %>
       </div>
      <% end %>
    </div>
  </h2>

  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Lessons</a>
    <a class="item" data-tab="second">Activities</a>
    <a class="item" data-tab="third">Exams</a>
    <a class="item" data-tab="fourth">Profile</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="first">
    <% @student_standard.classrooms.each do |student_classroom| %>
      <% student_classroom.lessons.each do |lesson| %>
        <ul class="ui large celled list">
          <li><%= link_to lesson.topic, lesson_path(lesson) %>
              (<%= lesson.classroom.subject.name %>) <small><%= lesson.created_at.httpdate %></small></li>
        </ul>
      <% end %>
    <% end %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <% @student_standard.classrooms.each do |student_classroom| %>
      <% student_classroom.activities.each do |activity| %>
        <ul class="ui large celled list">
          <li><%= link_to activity.topic, activity_path(activity) %>
              (<%= activity.classroom.subject.name %>) <small><%= activity.created_at.httpdate %></small></li>
        </ul>
      <% end %>
    <% end %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="third">
    <%= link_to "Exams", '#' %>
  </div>

  <div class="ui bottom attached tab segment" data-tab="fourth">
    <div class="ui large bulleted list">
      <div class="item">
        Name: <strong><%= @student.name %></strong>
      </div>
      <div class="item">
        Contact Number: <strong><%= @student.contact %></strong>
      </div>
      <div class="item">
        Address: <strong><%= @student.address %></strong>
      </div>
      <div class="item">
        Gender: <strong><%= @student.gender %></strong>
      </div>
      <div class="item">
        Father's Name: <strong><%= @student.father_name %></strong>
      </div>
      <div class="item">
        Mother's Name: <strong><%= @student.mother_name %></strong>
      </div>
      <div class="item">
        Guardian: <strong><%= @student.guardian_name %></strong>
      </div>
      <div class="item">
        <%= link_to edit_student_path(@student) do %>
          <i class="orange edit icon"></i> Click to edit your profile
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if tutor_logged_in? %>
<h2 class="ui center aligned teal icon header">
  <i class="orange circle user icon"></i>
  <%= @student.name %>
  <div>
    Class: <%= @student_standard.name %>
  </div>
  <div>
    Subjects in this class:
  </div>
  <div class="ui menu">
    <% @student_standard.subjects.each do |subject| %>
     <div class="item">
       <%= link_to subject.name, subject_path(subject) %>
     </div>
    <% end %>
  </div>
</h2>
<% end %>
