<h2 class="ui center aligned icon header">
  <i class="circular orange desktop icon"></i>
  <%= @tutor.name %>&apos;s Dashboard
</h2>

<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="violet building outline icon"></i>
    All Classes
  </div>
   <%= link_to "Show", standards_url, class: "ui primary button" %>
</div>

<% if current_tutor.admin? %>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="violet building outline icon"></i>
      All Students
    </div>
     <%= link_to "Show", students_url, class: "ui primary button" %>
  </div>
<% end %>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <div class="item">
    <i class="user icon"></i>
    Name: <%= @tutor.name %>
  </div>
  <div class="item">
    <i class="phone icon"></i>
    Contact Number: <%= @tutor.contact %>
  </div>
  <div class="item">
    <i class="address card outline icon"></i>
    Address: <%= @tutor.address %>
  </div>
  <%= link_to edit_tutor_path(@tutor), class: "item" do %>
    <i class="edit icon"></i> Click to edit your profile
  <% end %>

</div>
