<h2 class="ui center aligned icon header">
  <i class="circular orange desktop icon"></i>
  <%= @tutor.name %>&apos;s Dashboard
</h2>

<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">Classes</a>
  <a class="item" data-tab="second">Subjects</a>
  <a class="item" data-tab="third">ADD A TAB</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
  <% @tutor_standards.each do |standard| %>
    <ol class="ui large celled list">
      <li><%= link_to standard.name, standard_path(standard) %></li>
    </ol>
  <% end %>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <% @tutor_subjects.each do |subject| %>
    <ol class="ui large celled list">
      <li><%= link_to subject.name, subject_path(subject) %> (<%= subject.standard.name %>)</li>
    </ol>
  <% end %>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
  Third
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <div class="item">
    <i class="user icon"></i>
    Name: <%= @tutor.name %>
  </div>
  <div class="item">
    <i class="phone icon"></i>
    Contact Number: <%= @tutor.contact %>
  </div>
  <div class="item">
    <i class="address card outline icon"></i>
    Address: <%= @tutor.address %>
  </div>
  <%= link_to edit_tutor_path(@tutor), class: "item" do %>
    <i class="edit icon"></i> Click to edit your profile
  <% end %>

</div>
