<% if @answer.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      <%= pluralize(@answer.errors.count, "error") %> prohibited your answer from being created:
    </div>
    <ul class="list">
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @answer, html: { class: "ui form", role: 'form'} do |f| %>
  <div class="field">
    <%= f.label :answer, "Answer" %>
    <%= f.rich_text_area :answer %>
  </div>
    <%= f.submit class: "ui green button" %>
<% end %>
