<% if !current_tutor.admin? %>
  <h2 class="ui center aligned icon header">
    <i class="orange book icon"></i>
    <%= @subject.name %>
  </h2>

  <div class="ui raised center aligned segment">
    <h3 class="ui center aligned teal header">Lessons</h3>
    <% @subject_classrooms.each do |subject_classroom| %>
      <div class="ui middle aligned large divided list">
        <% subject_classroom.lessons.each do |lesson| %>
          <div class="item">
            <strong><%= link_to lesson.topic, lesson_path(lesson) %></strong>
            <small>Created: <%= lesson.created_at.strftime('%a, %d %b %Y') %></small>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="ui raised center aligned segment">
    <h3 class="ui center aligned teal header">Activities</h3>
    <% @subject_classrooms.each do |subject_classroom| %>
      <div class="ui middle aligned large divided list">
        <% subject_classroom.activities.each do |activity| %>
          <div class="item">
            <strong><%= link_to activity.topic, activity_path(activity) %></strong>
            <small>Created: <%= activity.created_at.strftime('%a, %d %b %Y') %></small>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="ui raised center aligned segment">
    <h3 class="ui center aligned teal header">Exams</h3>
    <% @subject_classrooms.each do |subject_classroom| %>
      <div class="ui middle aligned large divided list">
        <% subject_classroom.exams.each do |exam| %>
          <div class="item">
            <strong><%= link_to exam.topic, exam_path(exam) %></strong>
            <small>Created: <%= exam.created_at.strftime('%a, %d %b %Y') %></small>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="ui raised center aligned segment">
    <h3 class="ui center aligned teal header">Live Sessions</h3>
    <% @subject_classrooms.each do |subject_classroom| %>
      <div class="ui middle aligned large divided list">
        <% subject_classroom.live_sessions.each do |live_session| %>
          <div>
            <% if live_session.start_date <= DateTime.current && live_session.end_date >= DateTime.current %>
              <strong><%= link_to "Show chat room", live_session_path(live_session) %></strong>
              <small>Start Date: <%= live_session.start_date.strftime('%a, %d %b %Y') %>
                <u>time: <%= live_session.start_date.localtime.strftime("%I:%M %p") %></u>,
                End date: <%= live_session.end_date.strftime('%a, %d %b %Y') %>
                <u>time: <%= live_session.end_date.localtime.strftime("%I:%M %p") %></u></small>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_tutor.admin? %>
  <h2 class="ui center aligned icon header">
    <i class="orange book icon"></i>
    <%= @subject.name %> (in all classrooms)
  </h2>

  <div class="ui raised center aligned segment">
    <h3 class="ui center aligned teal header">Lessons</h3>
    <% @subject_in_all_classrooms.each do |subject_classroom| %>
      <div class="ui middle aligned large divided list">
        <% subject_classroom.lessons.each do |lesson| %>
          <div class="item">
            <strong><%= link_to lesson.topic, lesson_path(lesson) %></strong>
            <u>Class: <%= lesson.classroom.standard.name %></u>
            <small>Created: <%= lesson.created_at.strftime('%a, %d %b %Y') %></small>
            <strong>[<%= lesson.classroom.tutor.name %>]</strong>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="ui raised center aligned segment">
    <h3 class="ui center aligned teal header">Activities</h3>
    <% @subject_in_all_classrooms.each do |subject_classroom| %>
      <div class="ui middle aligned large divided list">
        <% subject_classroom.activities.each do |activity| %>
          <div class="item">
            <strong><%= link_to activity.topic, activity_path(activity) %></strong>
            <u>Class: <%= activity.classroom.standard.name %></u>
            <small>Created: <%= activity.created_at.strftime('%a, %d %b %Y') %></small>
            <strong>[<%= activity.classroom.tutor.name %>]</strong>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="ui raised center aligned segment">
    <h3 class="ui center aligned teal header">Exams</h3>
    <% @subject_in_all_classrooms.each do |subject_classroom| %>
      <div class="ui middle aligned large divided list">
        <% subject_classroom.exams.each do |exam| %>
          <div class="item">
            <strong><%= link_to exam.topic, exam_path(exam) %></strong>
            <u>Class: <%= exam.classroom.standard.name %></u>
            <small>Created: <%= exam.created_at.strftime('%a, %d %b %Y') %></small>
            <strong>[<%= exam.classroom.tutor.name %>]</strong>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="ui raised center aligned segment">
    <h3 class="ui center aligned teal header">Live Sessions</h3>
    <% @subject_in_all_classrooms.each do |subject_classroom| %>
      <div class="ui middle aligned large divided list">
        <% subject_classroom.live_sessions.each do |live_session| %>
          <div class="item">
            <strong><%= link_to "Live session at #{live_session.start_date.strftime('%a, %d %b %Y')}", live_session_path(live_session) %></strong>
            <u>Class: <%= live_session.classroom.standard.name %></u>
            <strong>[<%= live_session.classroom.tutor.name %>]</strong>
            <small>Start Date: <%= live_session.start_date.strftime('%a, %d %b %Y') %>, Start Time: <%= live_session.start_date.localtime.strftime("%I:%M %p") %></small>
            <small>End Date: <%= live_session.start_date.strftime('%a, %d %b %Y') %>, End Time: <%= live_session.end_date.localtime.strftime("%I:%M %p") %> </small>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
