<% if @lesson.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      <%= pluralize(@lesson.errors.count, "error") %> prohibited Activity from being added:
    </div>
    <ul class="list">
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="ui center aligned raised segment">
    <button class="ui primary basic button"><strong>Tutor's Name: </strong><%= @classroom.tutor.name %></button>
    <button class="ui primary basic button"><strong>Class: </strong><%= @classroom.standard.name %></button>
    <button class="ui primary basic button"><strong>Subject: </strong><%= @classroom.subject.name %></button>
</div>

<%= form_for @lesson, html: { class: "ui form", role: 'form'} do |f| %>
  <div class="ui piled segment">
    <div class="field">
      <%= f.label :topic, "Topic" %>
      <div class="ui left icon input">
        <%= f.text_field :topic, placeholder: "Topic" %>
        <i class="file icon"></i>
      </div>
    </div>
  </div>
  <div class="ui very padded segment">
    <%= f.label :lesson, "Lesson" %>
    <%= f.rich_text_area :lesson %>
  </div>
  <div class="ui very relaxed segment">
    <%= f.label :video, "Activity related video" %>
    <%= f.file_field :video %>
  </div>
  <div class="ui very relaxed segment">
    <%= f.label :audio, "Activity related audio file" %>
    <%= f.file_field :audio %>
  </div>
  <div class="ui very relaxed segment">
    <%= f.label :file, "Activity related file(s)" %>
    <%= f.file_field :file %>
  </div>
    <%= f.submit class: "ui green button" %>
<% end %>
