<div class="ui center aligned raised segment">
  <button class="ui primary basic button">Tutor: <%= @lesson.classroom.tutor.name %></button>
  <button class="ui primary basic button">Class: <%= @lesson.classroom.standard.name %></button>
  <button class="ui teal basic button">Subject: <%= @lesson.classroom.subject.name %></button>
  <button class="ui brown basic button">Topic: <%= @lesson.topic %></button>
  <button class="ui primary basic button">Created: <%= @lesson.created_at.httpdate %></button>
  <button class="ui primary basic button">Updated: <%= @lesson.updated_at.httpdate %></button>
</div>

<div class="ui segment">
  <%= @lesson.lesson %>
</div>

<% if @lesson.video.present? %>
  <div class="ui center aligned inverted segment">
    <%= video_tag(url_for(@lesson.video), style: 'width:600px; height:400px', controls: '') %>
  </div>
<% end %>

<% if @lesson.audio.present? %>
  <div class="ui center aligned inverted segment">
    <%= audio_tag(url_for(@lesson.audio), controls: '') %>
  </div>
<% end %>

<% if @lesson.file.present? %>
  <div class="ui center aligned inverted segment">
    <%= file_tag(url_for(@lesson.file), controls: '') %>
  </div>
<% end %>

<% if tutor_logged_in? %>
  <div class>
    <%= link_to "Edit Lesson", edit_lesson_path(@lesson), class: "fluid ui primary button" %>
  </div>
  <% if current_tutor.admin? %>
    <div>
      <%= link_to "Delete Lesson", lesson_path(@lesson), method: :delete,
                  data: { confirm: "Are you sure"}, class: "fluid ui negative button" %>
    </div>
  <% end %>
<% end %>
