<h2 class="ui center aligned icon header">
  <i class="orange globe icon"></i>
   All Live Sessions (in all classrooms and all subject)
</h2>

<table class="ui teal table">
  <thead>
    <tr><th>Tutor</th>
    <th>Class</th>
    <th>Subject</th>
    <th>Start date and time</th>
    <th>End date and time</th>
  </tr></thead><tbody>
    <% @live_sessions.each do |live_session| %>
    <tr>
      <td><%= live_session.classroom.tutor.name %></td>
      <td><%= live_session.classroom.standard.name %></td>
      <td><%= live_session.classroom.subject.name %></td>
      <td><%= live_session.start_date.strftime('%a, %d %b %Y') %>, <%= live_session.start_date.localtime.strftime("%I:%M %p") %></td>
      <td><%= live_session.end_date.strftime('%a, %d %b %Y') %>, <%= live_session.end_date.localtime.strftime("%I:%M %p") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
