<% if @live_session.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      <%= pluralize(@live_session.errors.count, "error") %> prohibited your Live Session from being registered:
    </div>
    <ul class="list">
      <% @live_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="ui center aligned large icon header">
  <i class="ui orange play icon"></i>
  Please select the start and end date and time for your live session.
  <u>Note: Enter the time as per GMT.</u>
</div>

<%= form_for @live_session, html: { class: "ui form", role: 'form'} do |f| %>
  <div class="ui center aligned very relaxed blue segment">
    <div class="ui two column grid">
      <div class="ui column">
        <div class="field">
          <%= f.label :start_date, "Start Date & Time in GMT (-3 hours)" %>
          <%= f.datetime_field :start_date %>
        </div>
      </div>
      <div class="ui column">
        <div class="field">
          <%= f.label :end_date, "End Date & Time in GMT (-3 hours)" %>
          <%= f.datetime_field :end_date %>
        </div>
      </div>
    </div>
  </div>
    <%= f.submit class: "ui green button" %>
<% end %>
