<div class="ui raise segment">
  <a class="ui large teal ribbon label">Students: <%= @standard_students.count %></a>
  <h2 class="ui header">
    <i class="clipboard icon"></i>
    <div class="content">
      <%= @standard.name %>
    </div>
  </h2>
</div>

<% if tutor_logged_in? && current_tutor.admin? %>
<div class="ui segment">
  <strong><%= current_tutor.name %></strong> you are admin, please refer
  to your dashboard to perform different actions
</div>
<% end %>
<% if tutor_logged_in? && !current_tutor.admin? %>
  <div class="ui center aligned large segment">
    <strong><%= current_tutor.name %></strong> please choose your subjects from the menu:
    <div class="ui menu">
      <% @standard_associations.where(tutor_id: current_tutor.id).each do |classroom| %>
        <%= link_to classroom.subject.name, subject_path("#{classroom.subject.id}"), class: "item" %>
    </div>
  <% end %>
  </div>
<% end %>

<div class="ui middle aligned huge selection list">
  <% @standard_students.each do |standard_student| %>
  <div class="item">
    <i class="user circle orange icon"></i>
    <div class="content">
      <%= link_to standard_student.name, student_path(standard_student), class: "header" %>
    </div>
  </div>
  <% end %>
</div>
