<div class="ui raise segment">
  <a class="ui large teal ribbon label">Students: <%= @standard_students.count %></a>
  <h2 class="ui header">
    <i class="clipboard icon"></i>
    <div class="content">
      <%= @standard.name %>
    </div>
  </h2>
</div>

<% if tutor_logged_in? %>
  <div class="ui large segment">
    <strong><%= current_tutor.name %></strong> you currently teach in this class the following subjects:
    <% @standard_subjects.where(tutor_id: current_tutor.id).each do |subject| %>
      <ul>
        <li><%= subject.name %></li>
      </ul>
    <% end %>
  </div>
<% end %>

<div class="ui middle aligned huge selection list">
  <% @standard_students.each do |standard_student| %>
  <div class="item">
    <i class="user circle orange icon"></i>
    <div class="content">
      <%= link_to standard_student.name, student_path(standard_student), class: "header" %>
    </div>
  </div>
  <% end %>
</div>
