<div class="ui raise segment">
  <a class="ui large teal ribbon label">Students: <%= @standard_students.count %></a>
  <h2 class="ui header">
    <i class="clipboard icon"></i>
    <div class="content">
      <%= @standard.name %>
    </div>
  </h2>
</div>

<div class="ui middle aligned huge selection list">
  <% @standard_students.each do |standard_student| %>
  <div class="item">
    <i class="user circle orange icon"></i>
    <div class="content">
      <%= link_to standard_student.name, student_path(standard_student), class: "header" %>
    </div>
  </div>
  <% end %>
</div>

<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <% @standard.lessons.each do |lesson| %>
        <strong class="ui center aligned header">List of all the activities</strong> 
        <ul class="ui large list">
          <li><%= link_to lesson.subject, lesson_path(lesson)%></li>
        </ul>
      <% end %>
    </div>
    <div class="center aligned column">
      <%= link_to "New Activity", new_lesson_path, class: "ui primary button" %>
    </div>
  </div>
  <div class="ui vertical divider">
    and
  </div>
</div>
